@import './../../utils/scss/helpers.scss';

.Event_Hunter__ctn {

  a {
    color: $pink-dark;
  }

	section {
		padding: 0;
	}
	.row {
		padding: 50px 0;
		&.--full {
			position: relative;
			&:before,
			&:after {
				content: ' ';
			    display: block;
			    position: absolute;
			    height: 100%;
			    width: 100%;
			    top: 0;
			    
			}
			&:before { right: 100%; }
			&:after { left: 100%; }
		}
		&.--pink {
			background-color: $pink-light;
			&:before,
			&:after {
				background-color: $pink-light;
			}
		}
		&.--grey {
			background-color: $grey-light;
			&:before,
			&:after {
				background-color: $grey-light;
			}
		}
	}

	.header {
    	background-color: $black;
    	color: white;

    	h1 {
        	font-size: 50px;
        	text-transform: uppercase;
      	}

    	.type {
        	font-size: 24px;
    	}
    }

    .project {
    	background-color: $grey-light;
  	}

  	.images {
  		& > div {
  			margin-bottom: 24px;
  		}
  		.image {
  			height: 100%;
  			padding: 12px;
  			border: 1px dashed $pink-medium;
  			cursor: pointer;
    		transition: 0.5s;
    		position: relative;
        &:before {
            content: '';
            transition: all 0.5s;
        }
    		&:hover {
    			&:before {
    				content: '';
    				position: absolute;
    				top: 0;
    				left: 0;
    				width: 100%;
    				height: 100%;
    				z-index: 1;
    				background-color: rgba($black, 0.8);
    			}
    			&:after {
					content: attr(data-val);
					color: white;
					z-index: 1;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 24px;
    				width: 100%;
    				text-align: center;
    				font-weight: 600;
    			}
    		}

    		img {
    			position: relative;
    			top: 50%;
    			transform: translateY(-50%);
    		}
  		}
  	}


}