@import './../../utils/scss/helpers.scss';

[class*='col-'] {
	padding: 0 12px;
	box-sizing: border-box;
}

.col-25 {
	@include screen-sm {
		width: 50%;	
	}
	@include screen-md {
		width: 25%;	
	}
	
}

.col-75 {
	@include screen-sm {
		width: 50%;	
	}
	@include screen-md {
		width: 75%;	
	}
}

/*.col-8 {
	@include screen-sm {
		width: 70%;
		padding-left: 12px;
	}
}

.col-4 {
	@include screen-sm {
		width: 30%;
		padding-right: 12px;
	}
}*/

/*

[class*='col-'] {
	padding: 0 12px;
	box-sizing: border-box;
}

.col-md-3 {
	width: 100% / 12 * 3;
	flex-basis: 100% / 12 * 3;
}
.col-md-6 {
	width: 100% / 12 * 6;
	flex-basis: 100% / 12 * 6;
}

.col-md-9 {
	width: 100% / 12 * 9;
	flex-basis: 100% / 12 * 9;
}*/

.Persona__ctn {
	display: flex;
	flex-wrap: wrap;
	@include screen-md {
		flex-wrap: nowrap;
	}
	padding: 16px 4px;
	background-color: $white;
	border: 1px solid $grey-medium;
	@include screen-mobile-only {
		flex-direction: column;
	}

	h3 {
		margin-top: 0;
		color: $pink-dark;
		font-weight: 400;
		margin-bottom: 8px;
	}

	p {
		margin-top: 0;
	}

	.list_wrapper {
		display: flex;
		> div {
			padding: 0 12px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.PersonaUser__ctn {
	margin-bottom: 32px;
	// align-items: center;
	//max-width: 200px;
    // text-align: center;
    // width: 75%;
    .pink {
    	color: $pink-dark;
    }
	p {margin: 0;}
	img {
		// border: 1px solid $pink-dark;
		// border-radius: 50%;
	}
	> div {
	}
}

.PersonaBio__ctn {
	margin-bottom: 32px;
}

.PersonaList__ctn {
	margin-bottom: 32px;
	ul {
		margin: 0;
	}
}

.PersonaBar__ctn {
	margin-bottom: 32px;
	.bar__ctn {
		margin-bottom: 8px;
	}
	.bar-title {
		margin: 0;
		font-size: 14px;
	}
	.bar_wrp {
		width: 100%;
		height: 12px;
		background-color: rgba($pink-light, 0.5);
		overflow: hidden;
	}
	.bar {
		transition: all 1s;
		height: 100%;
		background-color: $pink-dark;
		transform: translateX(-100%)
	}

	.in-view {
		.bar {
			transform: translateX(0)
		}
	}
}