@import './../../utils/scss/helpers.scss';

.Portfolio__ctn {
  background-color: $grey-light;

  .portfolio_item {
    a {
      display: block;
      &:link, &:visited, &:hover, &:active {
        color: white;
        text-decoration: none
      }
    }
    figure {
      display: flex;
      align-items: center;
      padding: 40px;
      margin: 0;
      background: $black;

      img {
        width: 45%;
        padding-right: 40px;
      }
      figcaption {
        width: 55%;
        padding-left: 40px;
        h3 {
          text-transform: uppercase;
          margin: 0 0 24px 0;
        }
        p {
          line-height: 1.4
        }
      }
    }
  }

}