// COLORS
$pink-light: #F6C7B7;
$pink-medium: #F7A398;
$pink-dark: #FA7F77;
$red: #B42529;
$black: #000000;


// FONTS
$parisienne: 'Parisienne', cursive;
$roboto: 'Roboto', sans-serif;

// SCREEN
$screen-xs: 360px;
$screen-sm: 768px;
$screen-xs-max: ($screen-sm - 1) !default;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1400px;
