// COLORS
$pink-light: #F6C7B7;
$pink-medium: #F7A398;
$pink-dark: #FA7F77;
$red: #B42529;
// $black: #000000;
$black: #333;

$grey-light: #F0F0F0;
$grey-dark: #666666;
$grey-medium: #ccc;
$white: #ffffff;


// FONTS
$parisienne: 'Parisienne', cursive;
$roboto: 'Roboto', sans-serif;

// Screen Sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
