@import './helpers.scss';

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

body {
  font-family: $roboto;
  margin: 0;
  padding: 0;
  color: $black;
}

#root {
  overflow-x: hidden;
}

section {
  padding: 50px 0px;
  @include screen-mobile-only {
    padding: 50px 25px;
  }
}

ul {
  padding-left: 20px;
}

.bold {
  font-weight: 700;
}

.full-height {
  height: 100vh;
}
