@import './../../utils/scss/helpers.scss';

.About__ctn {

  display: flex;
  align-items: center;

  @include screen-mobile-only {
    flex-direction: column;
  }

  .profile {
    flex-basis: 50%;
    @include screen-mobile-only {
      order: 1;
    }
  }

  .picture {
    flex-basis: 50%;
    width: 300px;
    height: 350px;
    border: 2px solid black;
    // background-color: $pink-medium;
    margin-right: 40px;
    @include screen-mobile-only {
      width: 100%;
      margin: 0;
       order: 2;
    }
  }

  p {
    line-height: 1.4;
  }

}