@import './../../utils/scss/helpers.scss';

.Inf2196__ctn {

	.header {
		background-color: $black;
    	color: white;

    	h1 {
        	font-size: 50px;
        	text-transform: uppercase;
      	}
	}

	.tree {
		background-color: $grey-light;
	}

}