@import './../../utils/scss/helpers.scss';

.Inf2196__ctn {

	.header {
		background-color: $black;
    	color: white;

    	h1 {
        	font-size: 50px;
        	text-transform: uppercase;
      	}
	}

	.tree {
		background-color: $grey-light;
		.treeview[style] {
			overflow-x: inherit !important;
		}

		/*.treeview {
			svg[style] {
				// display: inline-block;

			}
			span:nth-child(2)[style] {
				display: none;

			}
			span:nth-child(3)[style] {
				line-height: 1;
				display: inline-block;
				width: calc(100% - 1em - 10px);
			}

			.treeview {
				span:nth-child(3)[style] {
					width: calc(100% - 1em - 30px);
				}
			}
		}*/
	}

}