.draw {
  box-sizing: border-box;
  transition: color 0.25s;
  position: relative;
  vertical-align: middle; }
  .draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    width: 0;
    height: 0; }
  .draw::before {
    top: 0;
    left: 0; }
  .draw::after {
    bottom: 0;
    right: 0; }
  .draw:hover {
    color: #FA7F77; }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%; }
  .draw:hover::before {
    border-top-color: #FA7F77;
    border-right-color: #FA7F77;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
  .draw:hover::after {
    border-bottom-color: #FA7F77;
    border-left-color: #FA7F77;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

.Scenario__ctn .legend {
  font-size: 14px;
  margin: 4px 0 0;
  text-align: right; }

.ScenarioTable__ctn ul {
  margin: 0;
  padding-left: 16px; }
  .ScenarioTable__ctn ul li {
    text-indent: -5px; }

.ScenarioTable__ctn table {
  border-collapse: collapse;
  width: 100%;
  background: #f5f5f5;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden; }
  .ScenarioTable__ctn table tr {
    border-top: 1px solid #333333; }
    .ScenarioTable__ctn table tr:last-child {
      border-bottom: 1px solid #333333; }
    @media (min-width: 768px) {
      .ScenarioTable__ctn table tr:nth-child(even) {
        background-color: white; } }
  .ScenarioTable__ctn table th, .ScenarioTable__ctn table td {
    vertical-align: top;
    padding: 4px 8px;
    text-align: left; }
    @media (min-width: 768px) {
      .ScenarioTable__ctn table th, .ScenarioTable__ctn table td {
        border-right: 1px dashed rgba(102, 102, 102, 0.3); }
        .ScenarioTable__ctn table th:last-child, .ScenarioTable__ctn table td:last-child {
          border-right: 0; } }
  .ScenarioTable__ctn table th {
    color: #ffffff;
    font-weight: 500;
    background: #666666; }
    @media (max-width: 767px) {
      .ScenarioTable__ctn table th {
        display: none; } }
  @media (max-width: 767px) {
    .ScenarioTable__ctn table td {
      display: block;
      text-align: left;
      border: none;
      border-bottom: 1px dashed #333; }
      .ScenarioTable__ctn table td:first-child {
        text-align: center;
        font-weight: 500;
        padding: 8px 0;
        border-bottom: 1px solid #333;
        background: #666666;
        color: white; }
      .ScenarioTable__ctn table td:last-child {
        padding-bottom: 8px;
        border-bottom: 0; } }
  .ScenarioTable__ctn table td:before {
    display: none; }
    @media (max-width: 767px) {
      .ScenarioTable__ctn table td:before {
        content: attr(data-th) ": ";
        margin-right: 4px;
        display: inline-block; } }

/*.o-table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
  color: $black;
  background: $misty;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding: $spacing-sm 0;
  }

  tr {
    border-top: 1px solid rgba($teal, 0.5);
    &:last-child {
      border-bottom: 1px solid rgba($teal, 0.5);
    }
  }
  th,
  td {
    vertical-align: top;
    padding: $spacing-xs $spacing-sm;
    text-align: left;
    @include media-breakpoint-down(sm) {
      padding: $spacing-xxs $spacing-sm;
    }
  }
  th {
    color: $white;
    font-weight: $font-weight-semi;
    background: rgba($teal, 1);
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  td {
    border-top: 1px solid rgba($teal, 0.5);
    @include media-breakpoint-down(sm) {
      display: block;
      text-align: left;
      border: none;
    }
    &:before {
      display: none;
      @include media-breakpoint-down(sm) {
        content: attr(data-th) ': '; // who knew you could do this? The internet, that's who.
        width: 6.5em; // magic number :( adjust according to your own content
        display: inline-block;
      }
    }
  }
  ul {
    margin-left: $spacing-md;
    li {
    }
  }
  tr.parent td {
    font-weight: $font-weight-semi;
    background: rgba($aqua, 0.5);
  }
  tr.child td {
    background: rgba($beach-glass, 0.3);
  }
}*/
