@import './../../utils/scss/helpers.scss';

.Timeline__ctn {

	.timeline {
		list-style: none;
		padding: 20px 0 20px;
		position: relative;
		&:before {
			top: 0;
			bottom: 0;
			position: absolute;
			content: " ";
			width: 2px;
			background-color: $white;
			left: 50%;
			margin-left: -1px;
		}

		> li {
			margin-bottom: 20px;
			position: relative;
			&:before, &:after {
				content: " ";
				display: table;
			}
			&:after { clear: both; }

			&:nth-child(even) {
				.timeline-panel {
					transform: translate3d(200px, 0, 0);
					float: right;
					&:after {
						border-left-width: 0;
						border-right-width: 8px;
						left: -8px;
						right: auto;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}

			&.in-view {
				.timeline-panel {
					transform: none !important;
	            	visibility: visible;
	            	opacity: 1;
	            }
	            .timeline-badge {
	            	background-color: $pink-dark;
	            }
			}

		}


		.timeline-panel {
			transform: translate3d(-200px, 0, 0);
			visibility: hidden;
          	opacity: 0;
          	transition: all .5s ease-in-out;
			width: 46%;
			float: left;
			position: relative;
			&:after {
				position: absolute;
				top: 8px;
				right: -8px;
				display: inline-block;
				border-top: 8px solid transparent;
				border-left: 8px solid #333;
				border-right: 0 solid #333;
				border-bottom: 8px solid transparent;
				content: " ";
			}
		}

		.timeline-badge {
			width: 16px;
			height: 16px;
			margin-left: -8px;
			position: absolute;
			top: 8px;
			left: 50%;
			background-color: $white;
			border-radius: 50%;
			transition: all .5s ease-in-out;
		}

	}

	.timeline-panel {
		background-color: $white;
		.organization {
			background: #333;
			color: white;
			font-weight: 100;
			margin: 0;
			padding: 8px 15px;
		}
		.timeline-body {
			padding: 15px;
			.title {
    			color: darken($pink-dark, 5%);
    			font-weight: bold;
			}
			time {
              color: #888;
              font-size: 14px;
            }
            p {
              margin: 0;
            }
            .description {
              font-size: 14px;
              margin-top: 8px;
              padding-left: 18px;
              list-style-type: disc;
            }
		}
	}


	@media (max-width: 767px) {

		.timeline {
			&:before {
				left: 40px;
			}

			> li {
				.timeline-panel {
					float: right;
					width: calc(100% - 90px);
					&:after {
						border-left-width: 0;
						border-right-width: 8px;
						left: -8px;
						right: auto;
					}
				}
				.timeline-badge {
					left: 32px; // 40px - half size dot
					margin-left: 0;
					top: 8px;
				}
			}
		}

	}

}