@import './../../utils/scss/helpers.scss';

.Empathy__ctn {

	margin-top: 32px;
	display: flex;
	@include screen-mobile-only {
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}

	.tile__ctn, .user__ctn {
		display: flex;
		flex-direction: column;
	}

	.tile__ctn {
		
		justify-content: flex-start;
		.tile:first-child {
			margin-bottom: 24px;
		}
		@include screen-sm {
			width: 40%;
		}
	}

	.user__ctn {
		
		justify-content: center;
		align-items: center;
		@include screen-mobile-only {
			display: none;
		}
		@include screen-sm {
			width: 20%;
			padding: 16px;
		}
	}

	.user {
		margin: 0 16px;
		img {
			border: 1px solid $grey-medium;
			border-radius: 50%;
		}
		p {
			margin: 0;
    		text-align: center;
    		font-size: 14px;
    		padding: 4px 0 8px;
		}
	}

	.tile {
		@include screen-sm {
			height: 50%;	
		}
		@include screen-mobile-only {
			margin-bottom: 16px !important;	
		}
		.tile-title {
			margin: 0;
			background-color: $grey-medium;
			padding: 8px;
			border-radius: 4px 4px 0 0;
		}
		.tile-body {
			border: 1px solid $grey-medium;
			padding: 16px;
			ul {
				margin: 0;
			}
		}
	}
}