@import './../../utils/scss/helpers.scss';

.Training__ctn {
  background-color: $pink-medium;

  .timeline {
    .timeline_list {
      padding: 0; margin: 0;
      .timeline_item {
        list-style-type: none;
        position: relative;
        width: 2px;
        margin: 0 auto;
        background: white;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 4px;
          transform: translateX(-50%);
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: inherit;
          transition: background .5s ease-in-out;
        }

        &.in-view {
          &::after {
            background: darken($pink-dark, 5%);
          }
          .timeline_element {
            transform: none !important;
            visibility: visible;
            opacity: 1;
          }
        }

        &:nth-child(odd) {
          .timeline_element {
            left: 40px;
            transform: translate3d(200px, 0, 0);
            &::before {
              left: -8px;
              border-width: 8px 8px 8px 0;
              border-color: transparent white transparent transparent;
            }
          }
        }

        &:nth-child(even) {
          .timeline_element {
            left: -468px;
            transform: translate3d(-200px, 0, 0);
            &::before {
              right: -8px;
              border-width: 8px 0 8px 8px;
              border-color: transparent transparent transparent white;
            }
          }
        }

        .timeline_element {
          position: relative;
          bottom: 0;
          width: 400px;
          background: white;
          visibility: hidden;
          opacity: 0;
          transition: all .5s ease-in-out;

          .organization {
            background: #333;
            color: white;
            font-weight: 100;
            margin: 0;
            padding: 8px 15px;
          }
          .content {
            padding: 15px;
            time {
              color: #888;
              font-size: 14px;
            }
            p {
              margin: 0;
            }
            .title {
              color: darken($pink-dark, 5%);
              font-weight: bold;
            }
            .description {
              font-size: 14px;
              margin-top: 8px;
              padding-left: 18px;
              list-style-type: disc;
            }
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 7px;
            width: 0;
            height: 0;
            border-style: solid;
          }
        }


      }
    }
  }


  @media screen and (max-width: 1000px) {
    .timeline {
      .timeline_list {
        .timeline_item {
          margin-left: 20px;
          padding-top: 20px;
          .timeline_element {
            width: calc(100vw - 200px);
            @include screen-mobile-only {
              width: calc(100vw - 100px);
            }
          }

          &:nth-child(even) .timeline_element {
            left: 40px;
            &:before {
              left: -8px;
              border-width: 8px 8px 8px 0;
              border-color: transparent white transparent transparent;
            }
          }
        }
      }
    }
  }

}